body {
    font-weight: bold;
    //font-family: "Brown";
    overflow-x: hidden;
    background-image: url(/assets/backgorund.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 2% bottom 88%;
}

.container {
    max-width: 1250px;
    padding: 0;
}


/** top-block **/


.top-block {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.top-block__list {
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.top-block__item {
    padding: 5px 15px;
    font-size: 19px;
}

.top-block__item_rectangle {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(-6.691px 7.431px 10px rgba(132,92,255,0.2));
    background-color: #845cff;
    text-align: center;
    cursor: pointer;
}

.top-block__item a {
    color: #32325d;
    text-decoration: none;
}

.top-block__item_rectangle a {
    color: white;
}



/** hero **/


