body {
    font-weight: bold;
    font-family: "Brown";
}


/** top-block **/


.top-block {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.top-block__list {
  display: flex;
  width: 600px;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.top-block__item {
  padding: 5px 15px;
}

.top-block__item_rectangle {
  background-color: blue;
}

.top-block__item a {
  color: #32325d;
  text-decoration: none;
}

.top-block__item_rectangle a {
  color: white;
}

